<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@latest/dist/stylify.min.js"></script>
	<style>
		body > span {
			margin: 4px;
		}
	</style>
</head>
<body>

<!--
stylify-variables
	color: '#1890ff',
/stylify-variables
-->

<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:4px">Badge</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:8px">Badge</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:12px">Badge</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:24px">Badge</span>

<br><br>

<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:4px">
	<span class="background:lighten($color,25) border-radius:50% display:inline-flex width:24px min-width:24px font-size:14px margin-right:4px line-height:1 height:24px justify-content:center align-items:center">32</span>
	<span>Badge</span>
</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:8px">
	<span class="background:lighten($color,25) border-radius:50% display:inline-flex width:24px min-width:24px font-size:14px margin-right:4px line-height:1 height:24px justify-content:center align-items:center">32</span>
	<span>Badge</span>
</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:12px">
	<span class="background:lighten($color,25) border-radius:50% display:inline-flex width:24px min-width:24px font-size:14px margin-right:4px line-height:1 height:24px justify-content:center align-items:center">32</span>
	<span>Badge</span>
</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:24px">
	<span class="background:lighten($color,25) border-radius:50% display:inline-flex width:24px min-width:24px font-size:14px margin-right:4px line-height:1 height:24px justify-content:center align-items:center">32</span>
	<span>Badge</span>
</span>

<br><br>

<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:4px">
	<span>Badge</span>
	<span class="hover:background:lighten($color,25) margin-top:1px cursor:pointer transition:background_0.3s border-radius:50% display:inline-flex font-size:20px margin-left:4px width:20px min-width:20px line-height:20px height:20px justify-content:center align-items:center">&times;</span>
</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:8px">
	<span>Badge</span>
	<span class="hover:background:lighten($color,25) margin-top:1px cursor:pointer transition:background_0.3s border-radius:50% display:inline-flex font-size:20px margin-left:4px width:20px min-width:20px line-height:20px height:20px justify-content:center align-items:center">&times;</span>
</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:12px">
	<span>Badge</span>
	<span class="hover:background:lighten($color,25) margin-top:1px cursor:pointer transition:background_0.3s border-radius:50% display:inline-flex font-size:20px margin-left:4px width:20px min-width:20px line-height:20px height:20px justify-content:center align-items:center">&times;</span>
</span>
<span class="display:inline-flex align-items:center white-space:nowrap padding:2px_4px color:#fff background:$color font-size:14px line-height:24px border-radius:24px">
	<span>Badge</span>
	<span class="hover:background:lighten($color,25) margin-top:1px cursor:pointer transition:background_0.3s border-radius:50% display:inline-flex font-size:20px margin-left:4px width:20px min-width:20px line-height:20px height:20px justify-content:center align-items:center">&times;</span>
</span>

</body>
</html>
