<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@latest/dist/stylify.js"></script>
	<style>
		body {
			padding: 32px;
		}
		body > * {
			margin: 4px;
		}
	</style>
</head>
<body>
<!--
stylify-variables
	primaryColor: '#1890ff',
	secondaryColor: '#52c41a',
	tertiaryColor: '#faad14'
/stylify-variables

stylify-components
	button: `
		display:inline-flex align-items:center padding:12px_24px border-radius:24px white-space:nowrap line-height:24px border:none font-weight:700 letter-spacing:0.1px outline:none cursor:pointer line-height:20px font-size:16px color:$primaryColor user-select:none text-decoration:none background:none transition:background_0.3s hover:background:colorToRgb($primaryColor,0.10) focus:background:colorToRgb($primaryColor,0.10)
		&.button--solid {
			background:$primaryColor color:#fff hover:background:lighten($primaryColor,20) focus:background:lighten($primaryColor,20)
			&.button--secondary { background:$secondaryColor hover:background:lighten($secondaryColor,20) focus:background:lighten($secondaryColor,20) }
			&.button--tertiary { background:$tertiaryColor hover:background:lighten($tertiaryColor,20) focus:background:lighten($tertiaryColor,20) }
			&.button--disabled { cursor:default background:#e3dfe3 color:#aaa7ab }
		}
		&.button--outline {
			color:$primaryColor background:#fff border:1px_solid_#79747e hover:background:colorToRgb($primaryColor,0.10) focus:background:colorToRgb($primaryColor,10)
			&.button--disabled { cursor:default border:1px_solid_#e4e0e3 background:#fff color:#aaa7ab }
		}
		&.button--disabled { cursor:default background:none color:#aaa7ab }
		&__icon { display:inline-flex width:20px min-width:20px font-size:24px margin-right:4px line-height:20px justify-content:center align-items:center }
	`
/stylify-components
-->
<button class="button button--solid">Button</button>
<a href="#" class="button button--solid button--secondary">Anchor Secondary</a>
<input type="submit" class="button button--solid button--tertiary" value="Input Tertiary">

<br><br>

<button class="button button--solid">
	<span class="button__icon">&plus;</span>
	<span>With icon</span>
</button>
<button class="button button--outline">Outline</button>
<button class="button button--outline button--disabled">Outline disabled</button>
<button class="button button--solid button--disabled">Solid disabled</button>

<br><br>

<p class="display:inline-flex gap:24px">
<button class="button">Text button</button>
<button class="button button--disabled">Text button disabled</button>


</body>
</html>
