<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- <script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.5/dist/stylify.min.js" async defer fetchpriority="low"></script> -->
	<style>
		div {
			margin-bottom: 32px !important
		}
	</style>
	<style id="stylify-css">.font-size\:62\,5\%{font-size:62,5%}.padding\:0_8px{padding:0 8px}.margin\:0_auto{margin:0 auto}.max-width\:640px{max-width:640px}.max-width\:768px{max-width:768px}.max-width\:1024px{max-width:1024px}.max-width\:1280px{max-width:1280px}.max-width\:1536px{max-width:1536px}.max-width\:1920px{max-width:1920px}.\[\*\]\{box\-sizing\:border\-box\} *,.box-sizing\:border-box{box-sizing:border-box}.\[body\]\{font\-family\:arial\;font\-size\:16px\} body,.font-family\:arial{font-family:arial}.\[body\]\{font\-family\:arial\;font\-size\:16px\} body,.font-size\:16px{font-size:16px}@media (min-width: 640px) {.sm\:padding\:0_16px{padding:0 16px}}@media (min-width: 1280px) {.xl\:padding\:0{padding:0}}</style>
</head>
<body>

<div class="padding:0_8px sm:padding:0_16px xl:padding:0">Container fluid</div>
<div class="padding:0_8px sm:padding:0_16px xl:padding:0 margin:0_auto max-width:640px">Container 640px</div>
<div class="padding:0_8px sm:padding:0_16px xl:padding:0 margin:0_auto max-width:768px">Container 768px</div>
<div class="padding:0_8px sm:padding:0_16px xl:padding:0 margin:0_auto max-width:1024px">Container 1024px</div>
<div class="padding:0_8px sm:padding:0_16px xl:padding:0 margin:0_auto max-width:1280px">Container 1280px</div>
<div class="padding:0_8px sm:padding:0_16px xl:padding:0 margin:0_auto max-width:1536px">Container 1536px</div>
<div class="padding:0_8px sm:padding:0_16px xl:padding:0 margin:0_auto max-width:1920px">Container 1920px</div>

</body>
</html>
