<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- <script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.5/dist/stylify.min.js" async defer fetchpriority="low"></script> -->
	<style>
		div {
			margin-bottom: 32px
		}
	</style>
	<style id="stylify-css">.font-size\:62\,5\%{font-size:62,5%}.\[\*\]\{box\-sizing\:border\-box\} *,.box-sizing\:border-box{box-sizing:border-box}.\[body\]\{font\-family\:arial\;font\-size\:16px\} body,.font-family\:arial{font-family:arial}.\[body\]\{font\-family\:arial\;font\-size\:16px\} body,.font-size\:16px{font-size:16px}.container,.padding\:0_8px{padding:0 8px}.container,.margin-left\:auto{margin-left:auto}.container,.margin-right\:auto{margin-right:auto}.container--sm,.max-width\:640px{max-width:640px}.container--md,.max-width\:768px{max-width:768px}.container--lg,.max-width\:1024px{max-width:1024px}.container--xl,.max-width\:1280px{max-width:1280px}.container--2xl,.max-width\:1536px{max-width:1536px}.container--3xl,.max-width\:1920px{max-width:1920px}@media (min-width: 640px) {.container,.sm\:padding\:0_16px{padding:0 16px}}@media (min-width: 1280px) {.container,.xl\:padding\:0{padding:0}}</style>
</head>
<body>

<!--
stylify-components
	container: `
		padding:0_8px sm:padding:0_16px xl:padding:0 margin-left:auto margin-right:auto
		&--sm { max-width:640px }
		&--md { max-width:768px }
		&--lg { max-width:1024px }
		&--xl { max-width:1280px }
		&--2xl { max-width:1536px }
		&--3xl { max-width:1920px }
	`
/stylify-components
-->
<div class="container">Container fluid</div>
<div class="container container--sm">Container 640px</div>
<div class="container container--md">Container 768px</div>
<div class="container container--lg">Container 1024px</div>
<div class="container container--xl">Container 1280px</div>
<div class="container container--2xl">Container 1536px</div>
<div class="container container--3xl">Container 1920px</div>

</body>
</html>
