<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/content/snippets/components/iframe.css?v3">
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.22/dist/stylify.min.js" async defer fetchpriority="low"></script>
	<style>
		:root {
			--gradientFrom: #099773;
			--gradientTo: #43B692;
		}
		.content-wrapper {
			width: 50%
		}
	</style>
</head>
<body><div class="content"><div class="content-wrapper">

<!--
stylify-components
	divider: `
		height:1px display:flex width:100% background:#CAC4D0
		&--vertical {
			width:1px
			height:100%
		}
	`
/stylify-components
-->

<span class="divider"></span>

<div class="margin-top:24px height:200px">
	<span class="divider divider--vertical"></span>
</div>

</div></div></body></html>
