<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@latest/dist/stylify.min.js"></script>
</head>
<body>

<!--
stylify-components
	divider: `
		height:1px display:flex width:100% background:#CAC4D0
		&--vertical {
			width:1px
			height:100%
		}
	`
/stylify-components
-->

<span class="divider"></span>

<div class="margin-top:24px height:200px">
	<span class="divider divider--vertical"></span>
</div>

</body>
</html>
