<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shadows</title>
	<!-- <script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.5/dist/stylify.min.js" async defer fetchpriority="low"></script> -->
	<style>
		div > div {
			background: #1890ff;
			min-height: 100px;
		}
	</style>
	<style id="stylify-css">.font-size\:62\,5\%{font-size:62,5%}.display\:grid{display:grid}.grid-template-columns\:repeat\(auto-fit\,minmax\(250px\,1fr\)\){grid-template-columns:repeat(auto-fit,minmax(250px,1fr))}.gap\:24px{gap:24px}.\[\*\]\{box\-sizing\:border\-box\} *,.box-sizing\:border-box{box-sizing:border-box}.\[body\]\{font\-family\:arial\;font\-size\:16px\} body,.font-family\:arial{font-family:arial}.\[body\]\{font\-family\:arial\;font\-size\:16px\} body,.font-size\:16px{font-size:16px}</style>
</head>
<body>

<div class="display:grid grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) gap:24px">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>

</body>
</html>
