<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/content/snippets/components/iframe.css?v3">
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.22/dist/stylify.min.js" async defer fetchpriority="low"></script>
	<style>
		:root {
			--gradientFrom: #2666eb;
			--gradientTo: #37b7f7;
		}
		.content {
			padding-bottom: 400px;
		}
	</style>
</head>
<body><div class="content"><div class="content-wrapper">

Scroll down to see the button

<!--
stylify-components
	'scroll-to-top-button': `
		position:fixed bottom:0 right:24px text-decoration:none font-size:42px transform:translateY(100px) width:50px height:50px
		display:inline-flex align-items:center justify-content:center border-radius:50px font-weight:700 cursor:pointer font-size:42px color:#fff user-select:none text-decoration:none background:$color transition:.3s
		box-shadow:0_4px_8px_rgba(0,0,0,0.16),0_4px_8px_rgba(0,0,0,0.23) will-change:transform,background-color

		&:hover,&:focus { background:lighten($color,20) }

		&.s-visible { transform:translateY(-24px) }
	`
/stylify-components

stylify-variables
	color: '#6750A4',
/stylify-variables
-->
<a role="button" id="scroll-to-top-button" class="scroll-to-top-button">
	<svg height="30px" width="30px" viewBox="0 0 185.343 185.343" xml:space="preserve" transform="rotate(270)">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<g><g><path style="fill:#ffffff;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"></path></g></g>
		</g>
	</svg>
</a>

<script type="text/javascript">
// Adjust this to your needs
// It can be for example a height of page header
const minScrollTop = 50;
const scrollToTopButton = document.querySelector('#scroll-to-top-button');
scrollToTopButton.addEventListener('click', () => {
	window.scrollTo(0, 0);
});

const toggleScrollToTopButton = () => {
	let scrollTopPosition = document.documentElement.scrollTop;

	if (scrollTopPosition > minScrollTop) {
		scrollToTopButton.classList.add('s-visible');
	} else {
		scrollToTopButton.classList.remove('s-visible');
	}
}

document.addEventListener('scroll', toggleScrollToTopButton, { passive: true });
document.addEventListener("DOMContentLoaded", toggleScrollToTopButton);
</script>

</div></div></body></html>
