<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shadows</title>
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.5/dist/stylify.min.js"></script>
	<style>
		div {
			border-radius: 12px;
			margin: 8px;
			display: inline-flex;
			height: 80px;
			width: 80px;
		}
	</style>
</head>
<body>

<div class="box-shadow:0_2px_4px_rgba(0,0,0,0.12),0_1px_2px_rgba(0,0,0,0.24)"></div>
<div class="box-shadow:0_4px_8px_rgba(0,0,0,0.16),0_4px_8px_rgba(0,0,0,0.23)"></div>
<div class="box-shadow:0_12px_24px_rgba(0,0,0,0.19),0_8px_8px_rgba(0,0,0,0.23)"></div>
<div class="box-shadow:0_16px_28px_rgba(0,0,0,0.25),0_12px_12px_rgba(0,0,0,0.22)"></div>
<div class="box-shadow:0_18px_38px_rgba(0,0,0,0.30),0_16px_12px_rgba(0,0,0,0.22)"></div>


</body>
</html>
