<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/content/snippets/components/iframe.css?v3">
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.22/dist/stylify.min.js" async defer fetchpriority="low"></script>
	<style>
		.content-wrapper > div {
			border-radius: 12px;
			margin: 8px;
			display: inline-flex;
			height: 80px;
			width: 80px;
		}
		:root {
			--gradientFrom: #6565f1;
			--gradientTo: #a756f7;
		}
	</style>
</head>
<body><div class="content"><div class="content-wrapper">

<!--
stylify-components
	boxshadow1: 'box-shadow:0_2px_4px_rgba(0,0,0,0.12),0_1px_2px_rgba(0,0,0,0.24)',
	boxshadow2: 'box-shadow:0_4px_8px_rgba(0,0,0,0.16),0_4px_8px_rgba(0,0,0,0.23)',
	boxshadow3: 'box-shadow:0_12px_24px_rgba(0,0,0,0.19),0_8px_8px_rgba(0,0,0,0.23)',
	boxshadow4: 'box-shadow:0_16px_28px_rgba(0,0,0,0.25),0_12px_12px_rgba(0,0,0,0.22)',
	boxshadow5: 'box-shadow:0_18px_38px_rgba(0,0,0,0.30),0_16px_12px_rgba(0,0,0,0.22)'
/stylify-components
-->

<div class="boxshadow1"></div>
<div class="boxshadow2"></div>
<div class="boxshadow3"></div>
<div class="boxshadow4"></div>
<div class="boxshadow5"></div>


</div></div></body></html>
