<!DOCTYPE html>
<html lang="en" class="[*]{box-sizing:border-box} font-size:62,5% [body]{font-family:arial;font-size:16px}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@latest/dist/stylify.min.js"></script>
</head>
<body>

<!--
stylify-variables
	green: '#52c41a',
	red: '#52c41a',
/stylify-variables

stylify-components
	field: `
		padding:12px border:2px_solid_#000 border-radius:4px min-height:40px
		&::placeholder { color:transparent }
		&:not(:placeholder-shown):valid { border-color:$green }
		&:not(:placeholder-shown):inalid { border-color:$red }
		&:focus+label, &:not(:placeholder-shown)+label { top:0 background:#fff }
		&:disabled {
			border-color:#e3dfe3
			+ label { color:#aaa7ab}
		}
	`,
	field__label: 'position:absolute top:50% transform:translateY(-50%) max-width:calc(100%_-_16px) will-change:top transition:top_0.2s left:8px background:#fff padding:0_4px',
	field__wrapper: 'position:relative display:inline-flex'
/stylify-components
 -->

<!-- Valid/invalid --->
<div class="field__wrapper">
	<input id="text1" type="text" placeholder="Label" class="field">
	<label for="text1" class="field__label">Input</label>
</div>

<br><br>

<div class="field__wrapper">
	<textarea id="text2" placeholder="Label" class="field resize:vertical"></textarea>
	<label for="text2" class="field__label">Textarea</label>
</div>

<br><br>

<!-- Disabled -->
<div class="field__wrapper">
	<input id="text3" disabled type="text" placeholder="Label" class="field field--disabled">
	<label for="text3" class="field__label">Input - Disabled</label>
</div>

<br><br>

<div class="field__wrapper">
	<textarea id="text4" disabled placeholder="Label" class="field field--disabled resize:vertical"></textarea>
	<label for="text4" class="field__label">Textarea - Disabled</label>
</div>


</body>
</html>
