@import './variables/stylify-variables.scss';

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

code {
	padding: 4px;
	background: $grey3;
	border-radius: 4px;
}

pre code {
	padding: 0;
	color: #fff;
	background: #282d3f;
}

.prism-editor__editor,
.code-editor__wrapper,
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre !important;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
.prism-editor__editor,
.code-editor__wrapper,
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
	border-radius: 0.3em;
}

.prism-editor__editor,
.code-editor__wrapper,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #282d3f;
}

.prism-editor-wrapper {
	.prism-editor__container {
		max-height: 100%;
		overflow: auto;
	}

	.prism-editor__editor {
		overflow: visible;
	}

	.prism-editor__textarea {
		word-break: keep-all;
		white-space: nowrap;
	}
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6272a4;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ff79c6;
}

.token.boolean,
.token.number {
	color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #f1fa8c;
}

.token.keyword {
	color: #8be9fd;
}

.token.regex,
.token.important {
	color: #ffb86c;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.prism-editor__line-number.token.comment {
	padding-right: 1px;
	font-style: normal;
}
