@font-face {
  font-family: 'stylify';
  src: url('~assets/fonts/icons/fonts/stylify.woff?26zksy') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stylify' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh-ccw:before {
  content: "\e90d";
}
.icon-copy:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-arrow-down-circle:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-layout:before {
  content: "\e90a";
}
.icon-layers:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-pie-chart:before {
  content: "\e907";
}
.icon-archive:before {
  content: "\e908";
}
.icon-crosshair:before {
  content: "\e912";
}
.icon-target:before {
  content: "\e913";
}
.icon-monitor:before {
  content: "\e90e";
}
.icon-link1:before {
  content: "\e90f";
}
.icon-smartphone:before {
  content: "\e910";
}
.icon-dollar-sign:before {
  content: "\e911";
}
