---
import { getLangFromUrl, removeLangFromSlug, useTranslations } from '@serverHelpers';
import { Image } from '@astrojs/image/components';

const { items = {}, urlPath } = Astro.props;

const isLinkActive = (slug) => urlPath === removeLangFromSlug(slug);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script>
import { domReady } from '@clientHelpers';
const scrollSelectedLinkIntoView = () => {
	const sidebar = document.querySelector('.js-docs-sidebar-scroll');
	const sidebarHeight = sidebar.offsetHeight;
	const scrollTopSize = document.querySelector('.js-sidebar-active-link').getBoundingClientRect().top - sidebar.getBoundingClientRect().top - 50

	if (scrollTopSize < (sidebarHeight / 3)) {
		return;
	}

	sidebar.scrollTop = scrollTopSize - sidebarHeight / 3;
}

domReady(() => {
	const sidebar = document.querySelector('.js-docs-sidebar');
	document.querySelectorAll('.js-docs-sidebar-toggle').forEach((element) => {
		element.addEventListener('click', () => {
			sidebar.classList.toggle('s-visible');
		});
	});

	const getScrollTop = () => document.documentElement.scrollTop ?? document.body.scrollTop;

	let previousScrollTop = getScrollTop();
	let sidebarScrollTimeout = null;

	const scrollSidebar = () => {
		sidebarScrollTimeout = setTimeout(() => {
			const currentScrollTop = getScrollTop();
			if (currentScrollTop !== previousScrollTop) {
				window.clearTimeout(sidebarScrollTimeout);
				previousScrollTop = currentScrollTop;
				scrollSidebar();
				return;
			}

			scrollSelectedLinkIntoView();
		}, 200);
	}

	scrollSidebar();
});

</script>

<div class="lg:margin-right:34px lg:max-width:220px lg:width:100% left:0 z-index:4 lg:z-index:1">
	<aside
		class="
			js-docs-sidebar
			width:100% max-height:100vh height:100% transition:transform_0.3s_ease-in-out
			position:fixed top:0 left:0 backdrop-filter:blur(12px) z-index:2 padding-right:8px tolg:transform:translateX(-100%)
			lg:{position:sticky;transition:none;transform:translateX(0);top:$stickyHeaderMargin;max-height:calc(100vh_-_$stickyHeaderMargin)}
			[&.s-visible]{tolg:transform:translateX(0)}
		">
		<div class="js-docs-sidebar-toggle min-height:100% min-width:100% position:absolute"></div>
		<div class="max-height:100% js-docs-sidebar-scroll overflow:auto position:relative z-index:1 background:$blue3 border-right:1px_solid_#666 max-width:240px padding:24px lg:padding:0 lg:border-right:0 min-height:100%">
			<div class="text-align:right lg:display:none">
				<a role="button" class="js-docs-sidebar-toggle cursor:pointer font-size:32px display:inline-block width:32px">
					<i class="icon icon-x color:$blue1 font-weight:bold"></i>
				</a>
			</div>
			<div>
				<a href="https://github.com/stylify/packages/releases" target="_blank" rel="noopener"><img alt="" width="146" height="28" src="https://img.shields.io/github/v/tag/stylify/packages?color=%2301befe&label=Version&style=for-the-badge" loading="lazy" fetchpriority="low" /></a>
			</div>
			{Object.keys(items).map((key) => (
				<section class="margin-bottom:12px">
					<a
						href={`/${items[key][0].slug}`}
						class="display:block text-decoration:none position:sticky top:-26px z-index:1 [&.router-link-exact-active_h3]{color:#01befe!important} lg:top:0"
					>
						<h3 class={`${isLinkActive(items[key][0].slug) ? 'js-sidebar-active-link color:$blue1' : 'color:$grey5'} font-size:16px padding:8px_0 margin:0 backdrop-filter:blur(12px) z-index:1`}>
							{items[key][0].data.navigationTitle}
						</h3>
					</a>
					<nav class="display:flex flex-direction:column">
						{items[key].slice(1).map((sectionItem) => (
							<a
								href={`/${sectionItem.slug}`}
								class={`
									${sectionItem.data.navigationIconPath ? 'padding:4px_4px_4px_38px' : 'padding:4px_8px'}
									${isLinkActive(sectionItem.slug) ? 'js-sidebar-active-link font-weight:bold color:$blue1 background-color:lighten($blue3,20)' : ''}
									docs__aside-link color:$grey5 font-size:16px text-decoration:none
									position:relative display:inline-flex align-items:center hover:background-color:lighten($blue3,20) border-radius:$radius1
								`}
							>
								{sectionItem.data.navigationIconPath &&
									<Image src={sectionItem.data.navigationIconPath} alt="" loading="lazy" fetchpriority="low" quality={sectionItem.data.navigationIconPath.endsWith('svg') ? '' : 80} format={sectionItem.data.navigationIconPath.endsWith('svg') ? 'svg' : 'webp'} width={24} height={30} background="rgba(0,0,0,0)" fit="contain" class="max-width:24px border-radius:4px padding:2px max-height:30px position:absolute left:4px top:50% transform:translateY(-50%)"  />
								}
								<span>{ sectionItem.data.navigationTitle }</span>
							</a>
						))}
					</nav>
				</section>
			))}
		</div>
	</aside>
	<a role="button" class="js-docs-sidebar-toggle cursor:pointer display:flex align-items:center background:colorToRgb(#1e2431,0.8) backdrop-filter:blur(12px) z-index:1 top:0 padding:8px_0 position:sticky margin-bottom:24px justify-content:center lg:display:none">
		<i class="icon icon-menu margin-right:4px font-weight:bold color:$blue1"></i>
		<span>{t('Show docs navigation')}</span>
	</a>
</div>
