<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
	<summary itemprop="name" class="[*]{display:inline-block}">
		<slot name="question"></slot>
	</summary>
	<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
		<div itemprop="text">
			<slot name="answer"></slot>
		</div>
	</div>
</details>
