---
const { links = [], titleLinkEnabled = true, title = null } = Astro.props;
const linksForLoops = titleLinkEnabled ? links.slice(1) : links;
---

<!--
stylify-components
	'footer-docs-section': 'display:flex width:100% margin-bottom:18px align-items:center flex-direction:column md:align-items:flex-start',
	'footer-docs-section__title': 'margin-top:0 margin-bottom:4px font-size:16px',
	'footer-docs-section__link': 'margin-bottom:8px margin-left:24px font-size:14px color:lighten($grey5,20) display:inline-block text-decoration:none hover:color:$blue1'
/stylify-components
-->

{linksForLoops.length !== 0 &&
	<section class="footer-docs-section">
		<h3 class="footer-docs-section__title">
			{
				titleLinkEnabled
					? <a href={`${links[0].slug}`} class="color:$grey3 hover:color:$blue1 text-decoration:none">{links[0].navigationTitle}</a>
					: <span>{title ?? links[0].navigationTitle}</span>
			}
		</h3>
		<div class="margin-left:-24px">
			{linksForLoops.map((link) => <a href={`${link.slug}`} class="footer-docs-section__link">{link.navigationTitle}</a>)}
		</div>
	</section>
}
