---
import { useTranslations, getLangFromUrl } from '@serverHelpers';
const { type = 'stars' } = Astro.props;
const stars = 410;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!--
stylify-keyframes
	rotate: `
		 from { transform: rotate(0); }
		 to { transform: rotate(-360deg); }
	`
/stylify-keyframes
-->
<div class="display:inline-flex">
	{
		type === 'stars' ? (
			<a href="https://github.com/stylify/packages" class="js-github-button badge border-right-color:#fdd835!important background:$blue3 min-width:84px" rel="noopener" target="_blank">
				<img src="/images/brands/github-icon.svg" class="margin-right:4px" width="24" height="24" loading="lazy" alt="" />
				<strong>
					<span class="min-width:24px display:inline-flex justify-content:center align-items:center">{stars}</span>&nbsp;⭐
				</strong>
			</a>
		) : (
			<a href="https://github.com/sponsors/Machy8" class="js-github-button badge border-right-color:#f44336!important background:$blue3" rel="noopener" target="_blank">
				<strong><span class="margin-right:4px">{t('Support')}</span>&nbsp;❤️</strong>
			</a>
		)
	}
</div>
