---
import IntegrationBlocks from '@components/IntegrationBlocks.astro';
import MigrationBlocks from '@components/MigrationBlocks.astro';
import ShowcaseList from '@components/ShowcaseList.astro';
import HpComponents from '@components/HpComponents.astro';
import HpFans from '@components/HpFans.astro';
import HpFeatures from '@components/HpFeatures.astro';
import HpQuote from '@components/HpQuote.astro';
import HpMaterialThemeGuide from '@components/HpMaterialThemeGuide.astro';
import BlogPostListItem from '@components/BlogPostListItem.astro';
import Affiliate from './Affiliate.astro';
import HpHeader from '@components/HpHeader.astro';
import { getLangFromUrl, getLocalizedRoute, getStaticPathsForSupportedLanguages, useTranslations } from '@serverHelpers';
import { queryStaticContent } from '@content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const latestBlogPosts = await queryStaticContent({
	lang,
	postsType: 'blog',
	sortBy: 'blogPostNewest',
	limit: 3
});

export const getStaticPaths = () => getStaticPathsForSupportedLanguages();

---

<!--
stylify-components
	'btn--hp': `
		&.btn {
			justify-content:center font-size:16px padding:12px
			sm:font-size:18px
			md:min-width:230px
		}
	`,
	'hp-section-title': `
		font-size:28px text-align:center margin-top:0 margin-bottom:8px
		md:font-size:32px
	`
/stylify-components
-->
<div class="[section]{scroll-margin-top:50px} [>_section]{margin-top:48px;margin-bottom:48px;md:margin-top:64px;md:margin-bottom:64px;lg:margin-top:84px;lg:margin-bottom:84px}">
	<HpHeader />

	<div class="display:flex justify-content:center margin-top:24px margin-bottom:24px"><Affiliate /></div>

	<div class="
		container display:grid gap:24px row-gap:48px md:row-gap:64px grid-template-columns:1fr md:grid-template-columns:repeat(auto-fit,minmax(500px,1fr))
		[section]{display:flex;flex-direction:column}
		[section>div:first-of-type]{flex:1}
	">
		<section id="installation">
			<div>
				<h2 class="hp-section-title">
					{t('Start using Stylify CSS with your favorite tool in a minute')}
				</h2>
				<div class="margin-top:12px">
					<IntegrationBlocks />
				</div>
			</div>
			<div class="text-align:center margin-top:24px">
				<a href={getLocalizedRoute('/docs/integrations', lang)} class="btn btn--hp margin-top:12px">
					{t('Check out integrations')}
					<i class="icon icon-arrow-down-circle display:inline-block margin-left:8px transform:rotate(-90deg)"></i>
				</a>
			</div>
		</section>

		<section id="migration-guides" class="display:flex flex-direction:column">
			<div>
				<h2 class="hp-section-title">
					{t('Migrate from other CSS frameworks and CSS-in-JS libraries to Stylify easily')}
				</h2>
				<div class="margin-top:12px">
					<MigrationBlocks />
				</div>
			</div>
			<div class="text-align:center margin-top:24px">
				<a href={getLocalizedRoute('/docs/migration', lang)} class="btn btn--hp margin-top:12px">
					{t('Learn more')}
					<i class="icon icon-arrow-down-circle display:inline-block margin-left:8px transform:rotate(-90deg)"></i>
				</a>
			</div>
		</section>
	</div>

	<HpComponents />

	<HpFeatures />

	<HpFans />

	<section id="showcase" class="container text-align:center">
		<h2 class="hp-section-title">{t('Showcase')}</h2>
		<ShowcaseList limit={3} />
		<div class="text-align:center margin-top:24px">
			<a href={getLocalizedRoute('/showcase', lang)} class="btn btn--hp margin-top:12px">
				{t('Check out other projects')}
				<i class="icon icon-arrow-down-circle display:inline-block margin-left:8px transform:rotate(-90deg)"></i>
			</a>
		</div>
	</section>

	<HpQuote />

	<HpMaterialThemeGuide />

	<section class="container">
		<h2 class="hp-section-title">{t('Latest Blog Posts')}</h2>
		<div class="display:flex flex-direction:column flex-wrap:wrap sm:margin-left:-24px sm:flex-direction:row">
			{latestBlogPosts.map((post) => <BlogPostListItem data={post.data} slug={post.slug} /> )}
		</div>
		<div class="text-align:center margin-top:24px">
			<a href={getLocalizedRoute('/blog', lang)} class="btn btn--hp margin-top:12px">
				{t('Check out more articles')}
				<i class="icon icon-arrow-down-circle display:inline-block margin-left:8px transform:rotate(-90deg)"></i>
			</a>
		</div>
	</section>

<!-- 	<div class="container margin-bottom:64px">
		<div class="hp-section-title color:#f1f1f1 font-weight:bold">{t('Latest Updates')}</div>
		<NewsletterForm />
	</div> -->

	<section class="container">
		<h2 class="hp-section-title">{t('Go ahead. Give it a try!')}</h2>
		<div class="md:font-size:20px text-align:center margin-bottom:24px max-width:600px margin-left:auto margin-right:auto">{t('Try it now in the browser or at prepared Stack Blitz playgrounds for Vue, React, Next.js, Nuxt.js, Lit, Svelte and a other tools.')}</div>
		<div class="text-align:center margin-top:24px">
			<a href={getLocalizedRoute('/docs/get-started', lang)} class="btn btn--hp margin-top:12px">
				{t('Get Started')}
				<i class="icon icon-arrow-down-circle display:inline-block margin-left:8px transform:rotate(-90deg)"></i>
			</a>
		</div>
	</section>
</div>
