---
import { getLangFromUrl, getLocalizedRoute, useTranslations } from "@serverHelpers";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="components" class="container">
	<h2 class="hp-section-title">{t('Material Theme Builder Integration Guide')}</h2>
	<a href={getLocalizedRoute('/snippets/snippets/material-theme', lang)}>
		<video autoplay muted loop loading="lazy" fetchpriority="low" class="width:100% height:auto border-radius:8px">
			<source src="/videos/material-theme-builder.mp4" type="video/mp4" />
		</video>
	</a>

	<div class="text-align:center">
		<a href={getLocalizedRoute('/snippets/snippets/material-theme', lang)} class="btn btn--hp margin-top:12px">
			{t('Check out Material Theme Guide')}
			<i class="icon icon-arrow-down-circle display:inline-block margin-left:8px transform:rotate(-90deg)"></i>
		</a>
	</div>
</section>
