---
const { color = 'blue', classes = null } = Astro.props;
const isBlue = color === 'blue';
const isOrange = color === 'orange';
---

<div
	class={`
		${isBlue ? 'border-color:$blue1 background:lighten($blue3,20)' : ''}
		${isOrange ? 'border-color:$orange1 color:#000 background:lighten($orange1,30)' : ''}
		note border-left-width:8px border-left-style:solid padding:8px lg:padding:12px
	`}>
	<slot></slot>
</div>
