<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/content/snippets/components/iframe.css">
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.30/dist/stylify.min.js" async defer fetchpriority="low"></script>
	<style>
		:root {
			--gradientFrom: #ff1b6b;
			--gradientTo: #45caff;
		}
		.content-wrapper > * {
			margin:8px;
		}
	</style>
</head>
<body><div class="content"><div class="content-wrapper">

<!--
stylify-components
	'article-list': 'display:grid row-gap:32px column-gap:24px grid-template-columns:repeat(auto-fit,minmax(276px,1fr))',
	'article-list__item': `
		display:flex flex-direction:column color:#000 text-decoration:none transition:.3s border-radius:12px
		hover:background:#eee
	`,
	'article-list__item-image': 'width:100% height:100% border-radius:12px object-fit:cover',
	'article-list__item-content': 'display:flex flex-direction:column gap:8px padding:0_24px_24px_24px',
	'article-list__item-title': 'font-size:24px margin:0',
	'article-list__item-author': `
		display:flex align-items:flex-end gap:8px margin-top:-40px margin-bottom:8px
		img { border-radius:50px }
		span { font-size:16px }
	`,
	'article-list__item-description': 'font-size:16px line-height:24px display:-webkit-box webkit-line-clamp:3 webkit-box-orient:vertical overflow:hidden max-height:72px'
/stylify-components
-->

<section>
	<h2 class="font-size:32px margin-top:0 text-align:center">Latest Blog Posts</h2>
	<div class="article-list">
		<a href="#" class="article-list__item">
			<img src="/images/snippets/components/picture1.jpg" width="2" height="1" loading="lazy" fetchpriority="low" class="article-list__item-image">
			<div class="article-list__item-content">
				<div class="article-list__item-author">
					<img src="/images/snippets/components/person1.jpg" width="70" height="70" loading="lazy" fetchpriority="low">
					<span>Article Author</span>
				</div>
				<h3 class="article-list__item-title">Lorem ipsum dolor sit amet</h3>
				<div class="article-list__item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam at arcu a est sollicitudin euismod. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo.
				</div>
			</div>
		</a>

		<a href="#" class="article-list__item">
			<img src="/images/snippets/components/picture2.jpg" width="2" height="1" loading="lazy" fetchpriority="low" class="article-list__item-image">
			<div class="article-list__item-content">
				<div class="article-list__item-author">
					<img src="/images/snippets/components/person1.jpg" width="70" height="70" loading="lazy" fetchpriority="low">
					<span>Article Author</span>
				</div>
				<h3 class="article-list__item-title">Lorem ipsum dolor sit amet</h3>
				<div class="article-list__item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam at arcu a est sollicitudin euismod. Mauris dictum facilisis augue. Vivamus porttitor turpis ac leo.
				</div>
			</div>
		</a>
	</div>
</section>

</div></div></body></html>
