<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/content/snippets/components/iframe.css">
	<script src="https://cdn.jsdelivr.net/npm/@stylify/stylify@0.5.30/dist/stylify.min.js" async defer fetchpriority="low"></script>
	<style>
		:root {
			--gradientFrom: #48dc82;
			--gradientTo: #09b8d1;
		}
	</style>
</head>
<body><div class="content"><div class="content-wrapper">

<!--
stylify-variables
	color: '#6750A4'
/stylify-variables

stylify-components
	switch: `
		display:inline-flex align-items:center flex-wrap:nowrap
		&__input {
			overflow:hidden
			border:1px_solid_#aaa
			background:#aaa
			appearance:none
			height:24px
			width:48px
			border-radius:24px
			box-shadow:-24px_0_0_2px_#fff_inset,_0px_0_0px_2px_#fff_inset,0_0
			transition:.2s_ease-in-out,.2s_ease-in-out
			will-change:box-shadow,border-color

			&--outline:checked {
				box-shadow:24px_0_0_2px_#fff_inset,_0px_0_0px_2px_#fff_inset,0_0
				border-color:$color
				background:$color
			}

			&--solid:checked {
				box-shadow:24px_0_0_2px_$color_inset,_0px_0_0px_2px_$color_inset,0_0
				border-color:$color
				background:#fff
			}
		}
		&__label { margin-right:4px }
	`
/stylify-components
-->

<label class="switch">
	<span class="switch__label">Outlined</span>
	<input type="checkbox" class="switch__input switch__input--outline">
</label>
<br>
<label class="switch">
	<span class="switch__label">Solid</span>
	<input type="checkbox" class="switch__input switch__input--solid">
</label>

</div></div></body></html>
